body {
  background-color: black;
}

h1 {
  color: gray;
  text-align: center;
}

h2 {
  text-align: center;
  color: gray;
}
h3 {
  text-align: center;
  color: gray;
}

p {
  font-style: italic;
  text-align: center;
  color: gray;
}